{% extends "base.html" %}

{% load formset_tags %}

{% block title %} Docente {% endblock %}

{% block body_begin_scripts %}

	<script language="JavaScript" type="text/javascript">
		function limparFiltros() {
			document.getElementById("titulo").value = "";
		}
	</script>
{% endblock %}

{% block content %}

	<br />

	<form>
		<div class="row">
			<div class="medium-9 columns">
				<label>Nome completo</label>
				<input type="text" name="titulo" id="titulo" value="{{ request.GET.nome_completo }}"/>
			</div>
			<br />
			<div class="medium-3 columns" style="text-align:center;">
				<button type="submit" class="button">
					<i class="fi-magnifying-glass size-16"></i> Pesquisar
				</button>
				<button type="button"
					class="button"
					style="width: 150px;"
					onclick="limparFiltros()">
					<i class="fi-filter size-16"></i> Limpar filtros
				</button>
			</div>			
		</div>
	</form>

	<div class="row" style="text-align: right;">
		<a class="success button"
			href="{% url 'docente:novo' %}">
			<i class="fi-plus size-16"></i>
			Novo docente
		</a>
	</div>

	<div class="row">
		<table id="example" class="display">
			<thead>
				<th>Nome completo</th>
				<th>Email</th>
				<th style="text-align:center;">Ação</th>
			</thead>
			<tbody>
				{% for docente in object_list %}
					<tr>
						<td>{{ docente.nome_completo }}</td>
						<td>{{ docente.email }}</td>
						<td style="text-align:center;">
							<a href="{% url 'docente:detalhe' docente.pk %}" class="hollow button"
								data-tooltip
								title="Visualizar/editar docente">
								<i class="fi-info size-16"></i>
								<i class="fi-pencil size-16"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row" style="text-align: right;">
		<a class="success button"
			href="{% url 'docente:novo' %}">
			<i class="fi-plus size-16"></i>
			Novo docente
		</a>
	</div>

{% endblock %}
