{% extends "base.html" %}

{% load static %}
{% load formset_tags %}

{% block title %} Curso Extensão {% endblock%}

{% block body_begin_scripts %}
	<script language="JavaScript" type="text/javascript">
		function cancelar_cadastro(){
			decisao = confirm("Ao sair, todos os dados do formulário serão perdidos. Deseja continuar?");
			if(decisao){
				location.href = "{% url 'curso_extensao:index' %}";
			}
		}
	</script>
{% endblock %}

{% block content %}
	<h1 style="text-align:center;">Curso de Extensão</h1>

	<form data-abide novalidate method="post">
		{% csrf_token %}

		{{ main_form.non_field_errors }}

		<div data-abide-error class="alert callout" style="display: none;">
			<p><i class="fi-alert"></i>Campos obrigatórios não preenchidos!</p>
		</div>
		<div class="row">
			<div class="medium-1 columns">
				<label>Título*</label>
			</div>
			<div class="medium-11 columns">
				{% if main_form.titulo.errors %}<div data-abide-error class="alert callout">{{ main_form.titulo.errors }}</div> {% endif %}
				{{ main_form.titulo }}
			</div>
		</div>
		<div class="row">
			<div class="medium-2 columns">
				<label>Coordenador(a)*</label>
			</div>
			<div class="medium-10 columns">
				{% if main_form.coordenador.errors %}<div data-abide-error class="alert callout">{{ main_form.coordenador.errors }}</div> {% endif %}
				{{ main_form.coordenador }}
			</div>
		</div>
		<div class="row">
			<div class="medium-2 columns">
				<label>Início*</label>
			</div>
			<div class="medium-4 columns">
				{% if main_form.periodo_realizacao_inicio.errors %}<div data-abide-error class="alert callout">{{ main_form.periodo_realizacao_inicio.errors }}</div> {% endif %}
				{{ main_form.periodo_realizacao_inicio }}
			</div>
			<div class="medium-2 columns">
				<label>Fim*</label>
			</div>
			<div class="medium-4 columns">
				{% if main_form.periodo_realizacao_fim.errors %}<div data-abide-error class="alert callout">{{ main_form.periodo_realizacao_fim.errors }}</div> {% endif %}
				{{ main_form.periodo_realizacao_fim }}
			</div>
		</div>
		<div class="row">
			<div class="medium-3 columns">
				<label>Programa de extensão</label>
			</div>
			<div class="medium-9 columns">
				{% if main_form.programa_extensao.errors %}<div data-abide-error class="alert callout">{{ main_form.programa_extensao.errors }}</div> {% endif %}
				{{ main_form.programa_extensao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-3 columns">
				<label>Unidade administrativa*</label>
			</div>
			<div class="medium-2 columns">
				{% if main_form.unidade_administrativa.errors %}<div data-abide-error class="alert callout">{{ main_form.unidade_administrativa.errors }}</div> {% endif %}
				{{ main_form.unidade_administrativa }}
			</div>
			<div class="medium-1 columns">
				<label>Campus*</label>
			</div>
			<div class="medium-3 columns">
				{% if main_form.campus.errors %}<div data-abide-error class="alert callout">{{ main_form.campus.errors }}</div> {% endif %}
				{{ main_form.campus }}
			</div>
			<div class="medium-1 columns">
				<label>Centro*</label>
			</div>
			<div class="medium-2 columns">
				{% if main_form.centro.errors %}<div data-abide-error class="alert callout">{{ main_form.centro.errors }}</div> {% endif %}
				{{ main_form.centro }}
			</div>
		</div>
		<div class="row">
			<div class="medium-2 columns">
				<label>Grande área*</label>
			</div>
			<div class="medium-3 columns">
				{% if main_form.grande_area.errors %}<div data-abide-error class="alert callout">{{ main_form.grande_area.errors }}</div> {% endif %}
				{{ main_form.grande_area }}
			</div>
			<div class="medium-2 columns">
				<label>Linha de extensão*</label>
			</div>
			<div class="medium-5 columns">
				{% if main_form.linha_extensao.errors %}<div data-abide-error class="alert callout">{{ main_form.linha_extensao.errors }}</div> {% endif %}
				{{ main_form.linha_extensao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-3 columns">
				<label>Área temática principal*</label>
			</div>
			<div class="medium-3 columns">
				{% if main_form.area_tematica_principal.errors %}<div data-abide-error class="alert callout">{{ main_form.area_tematica_principal.errors }}</div> {% endif %}
				{{ main_form.area_tematica_principal }}
			</div>
			<div class="medium-3 columns">
				<label>Área temática secundária*</label>
			</div>
			<div class="medium-3 columns">
				{% if main_form.area_tematica_secundaria.errors %}<div data-abide-error class="alert callout">{{ main_form.area_tematica_secundaria.errors }}</div> {% endif %}
				{{ main_form.area_tematica_secundaria }}
			</div>
		</div>
		<div class="row">
			<div class="medium-2 columns">
				<label>Público alvo*</label>
			</div>
			<div class="medium-10 columns">
				{% if main_form.publico_alvo.errors %}<div data-abide-error class="alert callout">{{ main_form.publico_alvo.errors }}</div> {% endif %}
				{{ main_form.publico_alvo }}
			</div>
		</div>
		<div class="row">
			<div class="medium-4 columns">
				<label>Número de pessoas beneficiadas*</label>
			</div>
			<div class="medium-2 columns">
				{% if main_form.numero_pessoas_beneficiadas.errors %}<div data-abide-error class="alert callout">{{ main_form.numero_pessoas_beneficiadas.errors }}</div> {% endif %}
				{{ main_form.numero_pessoas_beneficiadas }}
			</div>
			<div class="medium-2 columns">
				<label>C/H total*</label>
			</div>
			<div class="medium-1 columns">
				{% if main_form.carga_horaria_total.errors %}<div data-abide-error class="alert callout">{{ main_form.carga_horaria_total.errors }}</div> {% endif %}
				{{ main_form.carga_horaria_total }}
			</div>
			<div class="medium-2 columns">
				<label>Número de vagas*</label>
			</div>
			<div class="medium-1 columns">
				{% if main_form.numero_vagas.errors %}<div data-abide-error class="alert callout">{{ main_form.numero_vagas.errors }}</div> {% endif %}
				{{ main_form.numero_vagas }}
			</div>
		</div>
		<div class="row">
			<div class="medium-2 columns">
				<label>Local de inscrição*</label>
			</div>
			<div class="medium-10 columns">
				{% if main_form.local_inscricao.errors %}<div data-abide-error class="alert callout">{{ main_form.local_inscricao.errors }}</div> {% endif %}
				{{ main_form.local_inscricao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Resumo*</label>
				{% if main_form.resumo.errors %}<div data-abide-error class="alert callout">{{ main_form.resumo.errors }}</div> {% endif %}
				{{ main_form.resumo }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Programação*</label>
				{% if main_form.programacao.errors %}<div data-abide-error class="alert callout">{{ main_form.programacao.errors }}</div> {% endif %}
				{{ main_form.programacao }}
			</div>
		</div>
		<div class="row">
			<hr/>
			<h3>Palavras-Chave</h3>
			<div class="medium-3 columns">
				<label>Palavra-chave*</label>
			</div>
			<div class="medium-1 columns">
				{% if palavras_formset.can_delete %}
					<label>Deletar</label>
				{% endif %}
			</div>
			<div class="medium-3 columns">
				<label>Palavra-chave</label>
			</div>
			<div class="medium-1 columns">
				{% if palavras_formset.can_delete %}
					<label>Deletar</label>
				{% endif %}
			</div>
			<div class="medium-3 columns">
				<label>Palavra-chave</label>
			</div>
			<div class="medium-1 columns">
				{% if palavras_formset.can_delete %}
					<label>Deletar</label>
				{% endif %}
			</div>
		</div>
		<div class="row">
			{{ palavras_formset.management_form }}
			{% for form in palavras_formset %}
				{{ form.id }}
				{{ form.curso_extensao }}
				<div class="medium-3 columns">
					{% if form.nome.errors %}<div data-abide-error class="alert callout">{{ form.nome.errors }}</div> {% endif %}
					{{ form.nome }}
				</div>
				<div class="medium-1 columns">
					{% if palavras_formset.can_delete %}
						{{ form.DELETE }}
					{% endif %}
				</div>	
			{% endfor %}
		</div>
		<div class="row">
			<hr />
			<h3>Servidores</h3>
		</div>
		<div class="row">
			<div class="medium-4 columns">
				<label>Servidor</label>
			</div>
			<div class="medium-4 columns">
				<label>Função</label>
			</div>
			<div class="medium-3 columns">
				<label>Carga horária dedicada</label>
			</div>
			<div class="medium-1 columns">
				{% if servidores_formset.can_delete %}
					<label>Deletar</label>
				{% endif %}
			</div>
		</div>
		<div id="servidores_formset" data-formset-prefix="{{ servidores_formset.prefix }}">
			{{ servidores_formset.management_form }}
			<div data-formset-body>
				{% for form in servidores_formset %}
					<div data-formset-form>
						<div class="row">
							{{ form.id }}
							{{ form.curso_extensao }}
							<div class="medium-4 columns">
								{% if form.servidor.errors %}<div data-abide-error class="alert callout">{{ form.servidor.errors }}</div> {% endif %}
								{{ form.servidor }}
							</div>
							<div class="medium-4 columns">
								{% if form.funcao.errors %}<div data-abide-error class="alert callout">{{ form.funcao.errors }}</div> {% endif %}
								{{ form.funcao }}
							</div>
							<div class="medium-3 columns">
								{% if form.carga_horaria_dedicada.errors %}<div data-abide-error class="alert callout">{{ form.carga_horaria_dedicada.errors }}</div> {% endif %}
								{{ form.carga_horaria_dedicada }}
							</div>
							<div class="medium-1 columns">
								{% if servidores_formset.can_delete %}
									{{ form.DELETE }}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<script type="form-template" data-formset-empty-form>
				{% escapescript %}
					<div data-formset-form>
						<div class="row">
							{{ servidores_formset.empty_form.id }}
							{{ servidores_formset.empty_form.curso_extensao }}
							<div class="medium-4 columns">
								{% if servidores_formset.empty_form.servidor.errors %}<div data-abide-error class="alert callout">{{ servidores_formset.empty_form.servidor.errors }}</div> {% endif %}
								{{ servidores_formset.empty_form.servidor }}
							</div>
							<div class="medium-4 columns">
								{% if servidores_formset.empty_form.funcao.errors %}<div data-abide-error class="alert callout">{{ servidores_formset.empty_form.funcao.errors }}</div> {% endif %}
								{{ servidores_formset.empty_form.funcao }}
							</div>
							<div class="medium-3 columns">
								{% if servidores_formset.empty_form.carga_horaria_dedicada.errors %}<div data-abide-error class="alert callout">{{ servidores_formset.empty_form.carga_horaria_dedicada.errors }}</div> {% endif %}
								{{ servidores_formset.empty_form.carga_horaria_dedicada }}
							</div>
							<div class="medium-1 columns">
								{% if servidores_formset.can_delete %}
									{{ servidores_formset.empty_form.DELETE }}
								{% endif %}
							</div>
						</div>
					</div>
				{% endescapescript %}
			</script>
			<div class="row">
				<div class="medium-12 columns">
					<input class="button" type="button" value="Adicionar servidor" data-formset-add>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
			<h3>Discentes</h3>
		</div>
		<div id="discentes_formset" data-formset-prefix="{{ discentes_formset.prefix }}">
			{{ discentes_formset.management_form }}
			<div data-formset-body>
				{% for form in discentes_formset %}
					<div data-formset-form>
						{{ form.id }}
						{{ form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-1 columns">
									<label>Nome</label>
								</div>
								<div class="medium-11 columns">
									{% if form.nome.errors %}<div data-abide-error class="alert callout">{{ form.nome.errors }}</div> {% endif %}
									{{ form.nome }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Curso</label>
								</div>
								<div class="medium-3 columns">
									{% if form.curso.errors %}<div data-abide-error class="alert callout">{{ form.curso.errors }}</div> {% endif %}
									{{ form.curso }}
								</div>
								<div class="medium-1 columns">
									<label>Série</label>
								</div>
								<div class="medium-1 columns">
									{% if form.serie.errors %}<div data-abide-error class="alert callout">{{ form.serie.errors }}</div> {% endif %}
									{{ form.serie }}
								</div>
								<div class="medium-1 columns">
									<label>Turno</label>
								</div>
								<div class="medium-2 columns">
									{% if form.turno.errors %}<div data-abide-error class="alert callout">{{ form.turno.errors }}</div> {% endif %}
									{{ form.turno }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
								</div>
								<div class="medium-1 columns">
									{% if form.carga_horaria_semanal.errors %}<div data-abide-error class="alert callout">{{ form.carga_horaria_semanal.errors }}</div> {% endif %}
									{{ form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Telefone</label>
								</div>	
								<div class="medium-3 columns">
									{% if form.telefone.errors %}<div data-abide-error class="alert callout">{{ form.telefone.errors }}</div> {% endif %}
									{{ form.telefone }}
								</div>
								<div class="medium-1 columns">
									<label>Email</label>
								</div>
								<div class="medium-5 columns">
									{% if form.email.errors %}<div data-abide-error class="alert callout">{{ form.email.errors }}</div> {% endif %}
									{{ form.email }}
								</div>
								{% if discentes_formset.can_delete %}
									<div class="medium-1 columns">
										<label>Deletar</label>
									</div>
									<div class="medium-1 columns">
										{{ form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br/>
					</div>
				{% endfor %}
			</div>
			<script type="form-template" data-formset-empty-form>
				{% escapescript %}
					<div data-formset-form>
						{{ discentes_formset.empty_form.id }}
						{{ discentes_formset.empty_form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-1 columns">
									<label>Nome</label>
								</div>
								<div class="medium-11 columns">
									{% if discentes_formset.empty_form.nome.errors %}<div data-abide-error class="alert callout">{{ discentes_formset.empty_form.nome.errors }}</div> {% endif %}
									{{ discentes_formset.empty_form.nome }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Curso</label>
								</div>
								<div class="medium-3 columns">
									{% if discentes_formset.empty_form.curso.errors %}<div data-abide-error class="alert callout">{{ discentes_formset.empty_form.curso.errors }}</div> {% endif %}
									{{ discentes_formset.empty_form.curso }}
								</div>
								<div class="medium-1 columns">
									<label>Série</label>
								</div>
								<div class="medium-1 columns">
									{% if discentes_formset.empty_form.serie.errors %}<div data-abide-error class="alert callout">{{ discentes_formset.empty_form.serie.errors }}</div> {% endif %}
									{{ discentes_formset.empty_form.serie }}
								</div>
								<div class="medium-1 columns">
									<label>Turno</label>
								</div>
								<div class="medium-2 columns">
									{% if discentes_formset.empty_form.turno.errors %}<div data-abide-error class="alert callout">{{ discentes_formset.empty_form.turno.errors }}</div> {% endif %}
									{{ discentes_formset.empty_form.turno }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
								</div>
								<div class="medium-1 columns">
									{% if discentes_formset.empty_form.carga_horaria_semanal.errors %}<div data-abide-error class="alert callout">{{ discentes_formset.empty_form.carga_horaria_semanal.errors }}</div> {% endif %}
									{{ discentes_formset.empty_form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Telefone</label>
								</div>	
								<div class="medium-3 columns">
									{% if discentes_formset.empty_form.telefone.errors %}<div data-abide-error class="alert callout">{{ discentes_formset.empty_form.telefone.errors }}</div> {% endif %}
									{{ discentes_formset.empty_form.telefone }}
								</div>
								<div class="medium-1 columns">
									<label>Email</label>
								</div>
								<div class="medium-5 columns">
									{% if discentes_formset.empty_form.email.errors %}<div data-abide-error class="alert callout">{{ discentes_formset.empty_form.email.errors }}</div> {% endif %}
									{{ discentes_formset.empty_form.email }}
								</div>
								{% if discentes_formset.can_delete %}
									<div class="medium-1 columns">
										<label>Deletar</label>
									</div>
									<div class="medium-1 columns">
										{{ discentes_formset.empty_form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br/>
					</div>
				{% endescapescript %}
			</script>
			<div class="row">
				<div class="medium-12 columns">
					<input class="button" type="button" value="Adicionar discente" data-formset-add>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
			<h3>Membros da Comunidade / Participantes Externos</h3>
		</div>
		<div id="membros_comunidade_formset" data-formset-prefix="{{ membros_comunidade_formset.prefix }}">
			{{ membros_comunidade_formset.management_form }}
			<div data-formset-body>
				{% for form in membros_comunidade_formset %}
					<div data-formset-form>
						{{ form.id }}
						{{ form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-1 columns">
									<label>Nome</label>
								</div>
								<div class="medium-8 columns">
									{% if form.nome.errors %}<div data-abide-error class="alert callout">{{ form.nome.errors }}</div> {% endif %}
									{{ form.nome }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
								</div>
								<div class="medium-1 columns">
									{% if form.carga_horaria_semanal.errors %}<div data-abide-error class="alert callout">{{ form.carga_horaria_semanal.errors }}</div> {% endif %}
									{{ form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Entidade</label>
								</div>
								<div class="medium-11 columns">
									{% if form.entidade.errors %}<div data-abide-error class="alert callout">{{ form.entidade.errors }}</div> {% endif %}
									{{ form.entidade }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Telefone</label>
								</div>
								<div class="medium-5 columns">
									{% if form.telefone.errors %}<div data-abide-error class="alert callout">{{ form.telefone.errors }}</div> {% endif %}
									{{ form.telefone }}
								</div>
								<div class="medium-1 columns">
									<label>Email</label>
								</div>
								<div class="medium-5 columns">
									{% if form.email.errors %}<div data-abide-error class="alert callout">{{ form.email.errors }}</div> {% endif %}
									{{ form.email }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>CPF</label>
								</div>
								<div class="medium-5 columns">
									{% if form.cpf.errors %}<div data-abide-error class="alert callout">{{ form.cpf.errors }}</div> {% endif %}
									{{ form.cpf }}
								</div>
								<div class="medium-3 columns">
									<label>Data de nascimento</label>
								</div>
								<div class="medium-3 columns">
									{% if form.data_nascimento.errors %}<div data-abide-error class="alert callout">{{ form.data_nascimento.errors }}</div> {% endif %}
									{{ form.data_nascimento }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Função</label>
								</div>
								<div class="medium-9 columns">
									{% if form.funcao.errors %}<div data-abide-error class="alert callout">{{ form.funcao.errors }}</div> {% endif %}
									{{ form.funcao }}
								</div>
								{% if membros_comunidade_formset.can_delete %}
									<div class="medium-1 columns">
										<label>Deletar</label>
									</div>
									<div class="medium-1 columns">
										{{ form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br/>
					</div>
				{% endfor %}
			</div>
			<script type="form-template" data-formset-empty-form>
				{% escapescript %}
					<div data-formset-form>
						{{ membros_comunidade_formset.empty_form.id }}
						{{ membros_comunidade_formset.empty_form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-1 columns">
									<label>Nome</label>
								</div>
								<div class="medium-8 columns">
									{% if membros_comunidade_formset.empty_form.nome.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.nome.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.nome }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
								</div>
								<div class="medium-1 columns">
									{% if membros_comunidade_formset.empty_form.carga_horaria_semanal.errors.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.carga_horaria_semanal.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Entidade</label>
								</div>
								<div class="medium-11 columns">
									{% if membros_comunidade_formset.empty_form.entidade.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.entidade.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.entidade }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Telefone</label>
								</div>
								<div class="medium-5 columns">
									{% if membros_comunidade_formset.empty_form.telefone.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.telefone.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.telefone }}
								</div>
								<div class="medium-1 columns">
									<label>Email</label>
								</div>
								<div class="medium-5 columns">
									{% if membros_comunidade_formset.empty_form.email.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.email.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.email }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>CPF</label>
								</div>
								<div class="medium-5 columns">
									{% if membros_comunidade_formset.empty_form.cpf.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.cpf.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.cpf }}
								</div>
								<div class="medium-3 columns">
									<label>Data de nascimento</label>
								</div>
								<div class="medium-3 columns">
									{% if membros_comunidade_formset.empty_form.data_nascimento.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.data_nascimento.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.data_nascimento }}
								</div>
							</div>
							<div class="row">
								<div class="medium-1 columns">
									<label>Função</label>
								</div>
								<div class="medium-9 columns">
									{% if membros_comunidade_formset.empty_form.funcao.errors %}<div data-abide-error class="alert callout">{{ membros_comunidade_formset.empty_form.funcao.errors }}</div> {% endif %}
									{{ membros_comunidade_formset.empty_form.funcao }}
								</div>
								{% if membros_comunidade_formset.can_delete %}
									<div class="medium-1 columns">
										<label>Deletar</label>
									</div>
									<div class="medium-1 columns">
										{{ membros_comunidade_formset.empty_form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br/>
					</div>
					<script src="{% static 'js/mascaras.js' %}"></script>
				{% endescapescript %}
			</script>
			<div class="row">
				<div class="medium-12 columns">
					<input class="button" type="button" value="Adicionar membro da comunidade" style="width:350px;" data-formset-add>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
			<h3>Previsão Orçamentária</h3>
		</div>
		{{ previsao_orcamentaria_formset.management_form }}
		{% for previsao_orcamentaria in previsao_orcamentaria_formset %}
			{{ previsao_orcamentaria.id }}
			<div class="row">
				<h4>Receitas</h3>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Inscrições</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.inscricoes.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.inscricoes.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.inscricoes }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Convênios</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.convenios.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.convenios.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.convenios }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Patrocínios</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.patrocinios.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.patrocinios.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.patrocinios }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Fonte(s) de Financiamento(s)</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.fonte_financiamento.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.fonte_financiamento.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.fonte_financiamento }}
				</div>
			</div>
			<div class="row">
				<h4>Despesas</h3>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Honorários</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.honorarios.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.honorarios.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.honorarios }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Passagens</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.passagens.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.passagens.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.passagens }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Alimentação</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.alimentacao.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.alimentacao.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.alimentacao }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Hospedagem</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.hospedagem.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.hospedagem.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.hospedagem }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Divulgação</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.divulgacao.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.divulgacao.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.divulgacao }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Materiais de consumo</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.material_consumo.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.material_consumo.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.material_consumo }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Xerox</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.xerox.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.xerox.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.xerox }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Certificados</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.certificados.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.certificados.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.certificados }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Outros</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.outros.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.outros.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.outros }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Especificar</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.outros_especificacao.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.outros_especificacao.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.outros_especificacao }}
				</div>
			</div>
			<div class="row">
				<h4>Gestão dos Recursos Financeiros</h3>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Identificação</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.identificacao.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.identificacao.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.identificacao }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Fundação</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.fundacao.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.fundacao.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.fundacao }}
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Outro Órgão Gestor</label>
				</div>
				<div class="medium-9 columns">
					{% if previsao_orcamentaria.outro_orgao_gestor.errors %}<div data-abide-error class="alert callout">{{ previsao_orcamentaria.outro_orgao_gestor.errors }}</div> {% endif %}
					{{ previsao_orcamentaria.outro_orgao_gestor }}
				</div>
			</div>
			{% if previsao_orcamentaria_formset.can_delete %}
				<div class="row">
					<div class="medium-3 columns">
						<label>Deletar</label>
					</div>
					<div class="medium-9 columns">
						{{ previsao_orcamentaria.DELETE }}
					</div>
				</div>
			{% endif %}
		{% endfor %}
		<br />
		<div class="row">
			<span><b>* Campos obrigatórios</b></span>
		</div>
		<div class="row">
			<div style="text-align:center;">
				<input type="submit" value="Salvar" class="button" style="width:100px;">
				<input type="button" value="Cancelar" class="button" style="width:100px;" onclick="cancelar_cadastro()"/>
			</div>
		</div>
		<br />
	</form>
{% endblock %}

{% block body_end_scripts %}
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.formset.js' %}"></script>
	<script src="{% static 'js/vendor/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'js/mascaras.js' %}"></script>
	<script>
		jQuery(function($) {
			$("#servidores_formset").formset({});
			$("#discentes_formset").formset({});
			$("#membros_comunidade_formset").formset({});
		});
	</script>
{% endblock %}
