{% extends "base.html" %}

{% load formset_tags %}

{% block title %} Curso Extensao {% endblock%}

{% block content %}

	<br />

	<form>
		<div class="row">
			
			<label>Título:</label>
			
			<input type="text" name="titulo" />
			
			<div style="text-align:center;">
				<input type="submit" value="Pesquisar" class="button">	
			</div>
		</div>		
	</form>

	<div class="row">
		<table>
			<thead>
				<th>Cursos de extensão</th>
			</thead>
			<tbody>
				{% for curso_extensao in object_list %}
				<tr>
					<td><a href="{% url 'curso_extensao:detalhe' curso_extensao.pk %}">{{ curso_extensao }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
