{% extends "base.html" %}

{% load static %}
{% load formset_tags %}

{% block title %} Curso Extensão {% endblock%}

{% block body_begin_scripts %}
	<script language="JavaScript" type="text/javascript">
		function cancelar_cadastro(){
			decisao = confirm("Ao sair, todos os dados do formulário serão perdidos. Deseja continuar?");
			if(decisao){
				location.href = "{% url 'curso_extensao:index' %}";
			}
		}
	</script>
{% endblock %}

{% block content %}
	<h1 style="text-align:center;">Curso de Extensão</h1>

	<form data-abide novalidate method="post">
		{% csrf_token %}
		<div data-abide-error class="alert callout" style="display: none;">
			<p><i class="fi-alert"></i>Campos obrigatórios não preenchidos!</p>
		</div>
		<div class="row medium-12 columns"> <!-- ??? -->
			<div class="medium-12 rows">
				<label>Título*</label>
			</div>
			<div class="medium-12 rows">
				{{ main_form.titulo }}
			</div>
		</div>
		<div class="row">
			<div class="medium-6 columns">
				<label>Coordenador(a)*</label>
				{{ main_form.coordenador }}
			</div>
			<div class="medium-6 columns">
				<label>Período de realização*</label>
				{{ main_form.periodo_de_realizacao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Programa de extensão</label>
				{{ main_form.programa_extensao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-4 columns">
				<label>Unidade administrativa*</label>
				{{ main_form.unidade_administrativa }}
			</div>
			<div class="medium-4 columns">
				<label>Campus*</label>
				{{ main_form.campus }}
			</div>
			<div class="medium-4 columns">
				<label>Centro*</label>
				{{ main_form.centro }}
			</div>
		</div>
		<div class="row">
			<div class="medium-6 columns">
				<label>Grande área*</label>
				{{ main_form.grande_area }}
			</div>
			<div class="medium-6 columns">
				<label>Linha de extensão*</label>
				{{ main_form.linha_extensao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-6 columns">
				<label>Área temática principal*</label>
				{{ main_form.area_tematica_principal }}
			</div>
			<div class="medium-6 columns">
				<label>Área temática secundária*</label>
				{{ main_form.area_tematica_secundaria }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Público alvo*</label>
				{{ main_form.publico_alvo }}
			</div>
		</div>
		<div class="row">
			<div class="medium-4 columns">
				<label>Número de pessoas beneficiadas*</label>
				{{ main_form.numero_pessoas_beneficiadas }}
			</div>
			<div class="medium-4 columns">
				<label>C/H total*</label>
				{{ main_form.carga_horaria_total }}
			</div>
			<div class="medium-4 columns">
				<label>Número de vagas*</label>
				{{ main_form.numero_vagas }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Local de inscrição*</label>
				{{ main_form.local_inscricao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Resumo*</label>
				{{ main_form.resumo }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Programação*</label>
				{{ main_form.programacao }}
			</div>
		</div>
		<div class="row">
			<h3>Palavras-Chave</h3>
			{{ palavras_formset.management_form }}
			{% for form in palavras_formset %}
				{{ form.id }}
				{{ form.curso_extensao }}
				<div class="medium-3 columns">
					<label>Palavra-chave</label>
					{{ form.nome }}
				</div>
				<div class="medium-1 columns">
					{% if palavras_formset.can_delete %}
						<label>Deletar</label>
						{{ form.DELETE }}
					{% endif %}
				</div>	
			{% endfor %}
		</div>
		<div class="row">
			<hr />
			<h3>Servidores</h3>
		</div>
		<div id="servidores_formset" data-formset-prefix="{{ servidores_formset.prefix }}">
			{{ servidores_formset.management_form }}
			<div data-formset-body>
				{% for form in servidores_formset %}
					<div data-formset-form>
						<div class="row">
							{{ form.id }}
							{{ form.curso_extensao }}
							<div class="medium-4 columns">
								<label>Servidor</label>
								{{ form.servidor }}
							</div>
							<div class="medium-4 columns">
								<label>Função</label>
								{{ form.funcao }}
							</div>
							<div class="medium-3 columns">
								<label>Carga horária dedicada</label>
								{{ form.carga_horaria_dedicada }}
							</div>
							<div class="medium-1 columns">
								{% if servidores_formset.can_delete %}
									<label>Deletar</label>
									{{ form.DELETE }}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<script type="form-template" data-formset-empty-form>
				{% escapescript %}
					<div data-formset-form>
						<div class="row">
							{{ servidores_formset.empty_form.id }}
							{{ servidores_formset.empty_form.curso_extensao }}
							<div class="medium-4 columns">
								{{ servidores_formset.empty_form.servidor }}
							</div>
							<div class="medium-4 columns">
								{{ servidores_formset.empty_form.funcao }}
							</div>
							<div class="medium-3 columns">
								{{ servidores_formset.empty_form.carga_horaria_dedicada }}
							</div>
							<div class="medium-1 columns">
								{% if servidores_formset.can_delete %}
									{{ servidores_formset.empty_form.DELETE }}
								{% endif %}
							</div>
						</div>
					</div>
				{% endescapescript %}
			</script>
			<div class="row">
				<div class="medium-12 columns">
					<input class="hollow button" type="button" value="Adicionar servidor" data-formset-add>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
			<h3>Discentes</h3>
		</div>
		<div id="discentes_formset" data-formset-prefix="{{ discentes_formset.prefix }}">
			{{ discentes_formset.management_form }}
			<div data-formset-body>
				{% for form in discentes_formset %}
					<div data-formset-form>
						{{ form.id }}
						{{ form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-10 columns">
									<label>Nome</label>
									{{ form.nome }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
									{{ form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-4 columns">
									<label>Curso</label>
									{{ form.curso }}
								</div>
								<div class="medium-4 columns">
									<label>Série</label>
									{{ form.serie }}
								</div>
								<div class="medium-4 columns">
									<label>Turno</label>
									{{ form.turno }}
								</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<label>Telefone</label>
									{{ form.telefone }}
								</div>
								<div class="medium-6 columns">
									<label>Email</label>
									{{ form.email }}
								</div>
								{% if discentes_formset.can_delete %}
									<div class="medium-12 columns">
										<label>Deletar</label>
										{{ form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br />
					</div>
				{% endfor %}
			</div>
			<script type="form-template" data-formset-empty-form>
				{% escapescript %}
					<div data-formset-form>
						{{ discentes_formset.empty_form.id }}
						{{ discentes_formset.empty_form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-10 columns">
									<label>Nome</label>
									{{ discentes_formset.empty_form.nome }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
									{{ discentes_formset.empty_form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-4 columns">
									<label>Curso</label>
									{{ discentes_formset.empty_form.curso }}
								</div>
								<div class="medium-4 columns">
									<label>Série</label>
									{{ discentes_formset.empty_form.serie }}
								</div>
								<div class="medium-4 columns">
									<label>Turno</label>
									{{ discentes_formset.empty_form.turno }}
								</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<label>Telefone</label>
									{{ discentes_formset.empty_form.telefone }}
								</div>
								<div class="medium-6 columns">
									<label>Email</label>
									{{ discentes_formset.empty_form.email }}
								</div>
								{% if discentes_formset.can_delete %}
									<div class="medium-12 columns">
										<label>Deletar</label>
										{{ discentes_formset.empty_form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br />
					</div>
				{% endescapescript %}
			</script>
			<div class="row">
				<div class="medium-12 columns">
					<input class="hollow button" type="button" value="Adicionar discente" data-formset-add>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
			<h3>Membros da Comunidade / Participantes Externos</h3>
		</div>
		<div id="membros_comunidade_formset" data-formset-prefix="{{ membros_comunidade_formset.prefix }}">
			{{ membros_comunidade_formset.management_form }}
			<div data-formset-body>
				{% for form in membros_comunidade_formset %}
					<div data-formset-form>
						{{ form.id }}
						{{ form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-10 columns">
									<label>Nome</label>
									{{ form.nome }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
									{{ form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-12 columns">
									<label>Entidade</label>
									{{ form.entidade }}
								</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<label>Telefone</label>
									{{ form.telefone }}
								</div>
								<div class="medium-6 columns">
									<label>Email</label>
									{{ form.email }}
								</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<label>CPF</label>
									{{ form.cpf }}
								</div>
								<div class="medium-6 columns">
									<label>Data de nascimento</label>
									{{ form.data_nascimento }}
								</div>
							</div>
							<div class="row">
								<div class="medium-12 columns">
									<label>Função</label>
									{{ form.funcao }}
								</div>
								{% if membros_comunidade_formset.can_delete %}
									<div class="medium-12 columns">
										<label>Deletar</label>
										{{ form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br />
					</div>
				{% endfor %}
			</div>
			<script type="form-template" data-formset-empty-form>
				{% escapescript %}
					<div data-formset-form>
						{{ membros_comunidade_formset.empty_form.id }}
						{{ membros_comunidade_formset.empty_form.curso_extensao }}
						<div class="row" style="background:#E2EEFA; padding:10px;">
							<div class="row">
								<div class="medium-10 columns">
									<label>Nome</label>
									{{ membros_comunidade_formset.empty_form.nome }}
								</div>
								<div class="medium-2 columns">
									<label>C/H semanal</label>
									{{ membros_comunidade_formset.empty_form.carga_horaria_semanal }}
								</div>
							</div>
							<div class="row">
								<div class="medium-12 columns">
									<label>Entidade</label>
									{{ membros_comunidade_formset.empty_form.entidade }}
								</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<label>Telefone</label>
									{{ membros_comunidade_formset.empty_form.telefone }}
								</div>
								<div class="medium-6 columns">
									<label>Email</label>
									{{ membros_comunidade_formset.empty_form.email }}
								</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<label>CPF</label>
									{{ membros_comunidade_formset.empty_form.cpf }}
								</div>
								<div class="medium-6 columns">
									<label>Data de nascimento</label>
									{{ membros_comunidade_formset.empty_form.data_nascimento }}
								</div>
							</div>
							<div class="row">
								<div class="medium-12 columns">
									<label>Função</label>
									{{ membros_comunidade_formset.empty_form.funcao }}
								</div>
								{% if membros_comunidade_formset.can_delete %}
									<div class="medium-12 columns">
										<label>Deletar</label>
										{{ membros_comunidade_formset.empty_form.DELETE }}
									</div>
								{% endif %}
							</div>
						</div>
						<br />
					</div>
					<script src="{% static 'js/mascaras.js' %}"></script>
				{% endescapescript %}
			</script>
			<div class="row">
				<div class="medium-12 columns">
					<input class="hollow button" type="button" value="Adicionar membro da comunidade" data-formset-add>
				</div>
			</div>
		</div>
		<div class="row">
			<span><b>* Campos obrigatórios</b></span>
		</div>
		<br />
		<div class="row">
			<div style="text-align:center;">
				<input type="button" value="Cancelar" class="button secondary" style="width:100px;" onclick="cancelar_cadastro()"/>
				<input type="submit" value="Salvar" class="button primary" style="width:100px;">
			</div>
		</div>
		<br />
	</form>
{% endblock %}

{% block body_end_scripts %}
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.formset.js' %}"></script>
	<script src="{% static 'js/vendor/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'js/mascaras.js' %}"></script>
	<script>
		jQuery(function($) {
			$("#servidores_formset").formset({});
			$("#discentes_formset").formset({});
			$("#membros_comunidade_formset").formset({});
		});
	</script>
{% endblock %}
