{% extends "base.html" %}

{% load formset_tags %}

{% block title %} Curso de Extensão {% endblock %}

{% block content %}

	<br />

	<form>
		<div class="row">
			<div class="medium-5 columns">
				<label>Título:</label>
				<input type="text" name="titulo" value="{{ request.GET.titulo }}"/>
			</div>

			<div class="medium-5 columns">
				<label>Coordenador(a):</label>
				<input type="text" name="coordenador" value="{{ request.GET.coordenador }}"/>
			</div>

			<!-- <div class="medium-3 columns">
				<label>Estado:</label>
				<input type="text" name="estado" value="{{ request.GET.estado }}"/>
			</div> -->

			<div class="medium-2 columns">
				<br />
				<input type="submit" value="Pesquisar" class="button" style="width:150px;">	
			</div>
		</div>
		<div class="row" style="text-align: right;">
			<a class="success button" href="{% url 'curso_extensao:novo' %}">Novo Curso</a>
		</div>
	</form>

	<div class="row">
		<table>
			<thead>
				<th>Título</th>
				<th>Coordenador(a)</th>
				<!-- <th>Estado</th> -->
				<th style="text-align:center;">Projeto</th>
				<th style="text-align:center;">Relatório</th>
				<th style="text-align:center;">Parecer</th>
			</thead>
			<tbody>
				{% for curso_extensao in object_list %}
					<tr>
						<td>{{ curso_extensao }}</td>
						<td>{{ curso_extensao.coordenador }}</td>
						<!-- <td>{{ curso_extensao.estado }}</td> -->
						<td style="text-align:center;">
							<a href="{% url 'curso_extensao:detalhe' curso_extensao.pk %}" class="button">Visualizar</a>
							<a href="{% url 'curso_extensao:pdf' curso_extensao.pk %}" class="button">Gerar PDF</a>
						</td>
						<td style="text-align:center;">
						    <a href="{% url 'relatorio:novo' curso_extensao.pk %}" class="button">Adicionar Relatório</a>
							<a href="{% url 'relatorio:consulta' curso_extensao.pk %}" class="button">Visualizar Relatórios</a>
   						</td>
						<td style="text-align:center;">
						    <a href="{% url 'parecer:novo' curso_extensao.pk %}" class="button">Adicionar Parecer</a>
   						    <a href="" class="button">Visualizar Pareceres</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row" style="text-align: right;">
		<a class="success button" href="{% url 'curso_extensao:novo' %}">Novo Curso</a>
	</div>

{% endblock %}
