{% extends "base.html" %}

{% load formset_tags %}

{% block title %} Curso de Extensão {% endblock %}

{% block body_begin_scripts %}

	<script language="JavaScript" type="text/javascript">
		function limparFiltros() {
			document.getElementById("titulo").value = "";
			document.getElementById("coordenador").value = "";
		}
	</script>
{% endblock %}

{% block content %}

	<br />

	<form>
		<div class="row">
			<div class="medium-4 columns">
				<label>Título:</label>
				<input type="text" name="titulo" id="titulo" value="{{ request.GET.titulo }}"/>
			</div>

			<div class="medium-4 columns">
				<label>Coordenador(a):</label>
				<input type="text" name="coordenador" id="coordenador" value="{{ request.GET.coordenador }}"/>
			</div>

			<!-- <div class="medium-3 columns">
				<label>Estado:</label>
				<input type="text" name="estado" value="{{ request.GET.estado }}"/>
			</div> -->

			<div class="medium-4 columns">
				<br />
				<button type="submit" class="button">
					<i class="fi-magnifying-glass size-14"></i> Pesquisar
				</button>
				<button type="button"
					class="button"
					style="width: 150px;"
					onclick="limparFiltros()">
					<i class="fi-filter size-14"></i> Limpar filtros
				</button>
			</div>
		</div>
		<div class="row" style="text-align: right;">
			<a class="success button"
				href="{% url 'curso_extensao:novo' %}">
				<i class="fi-plus size-14"></i>
				Novo curso
			</a>
		</div>
	</form>

	<div class="row">
		<table>
			<thead>
				<th>Título</th>
				<th>Coordenador(a)</th>
				<!-- <th>Estado</th> -->
				<th style="text-align:center;">Projeto</th>
				<th style="text-align:center;">Relatório</th>
				<th style="text-align:center;">Parecer</th>
			</thead>
			<tbody>
				{% for curso_extensao in object_list %}
					<tr>
						<td>{{ curso_extensao }}</td>
						<td>{{ curso_extensao.coordenador }}</td>
						<!-- <td>{{ curso_extensao.estado }}</td> -->
						<td style="text-align:center;">
							<a href="{% url 'curso_extensao:detalhe' curso_extensao.pk %}"
								class="hollow button"
								data-tooltip
								title="Visualizar/editar projeto">
								<!-- <i class="fi-magnifying-glass size-14"></i> -->
								<i class="fi-info size-14"></i>
								<!-- <i class="fi-eye size-14"></i> -->
								<!-- <strong> | </strong> -->
								<i class="fi-pencil size-14"></i>
							</a>
							<a href="{% url 'curso_extensao:pdf' curso_extensao.pk %}"
								class="hollow button"
								type="button"
								title="Exportar como PDF"
								data-position="bottom"
								data-alignment="center"
								data-disable-hover="false"
								data-tooltip aria-haspopup="true"
								tabindex="1">
								<i class="fi-page-export-pdf size-14"></i>
							</a>
							<a href="{% url 'curso_extensao:pdf' curso_extensao.pk %}"
								class="hollow button"
								type="button"
								title="Excluir projeto"
								data-position="bottom"
								data-alignment="center"
								data-disable-hover="false"
								data-tooltip aria-haspopup="true"
								tabindex="1">
								<i class="fi-trash size-14"></i>
							</a>
						</td>
						<td style="text-align:center;">
						    <a href="{% url 'relatorio:novo' curso_extensao.pk %}"
								class="hollow button"
								data-tooltip
								title="Adicionar relatório">
								<i class="fi-plus size-14"></i>
							</a>
							<a href="{% url 'relatorio:consulta' curso_extensao.pk %}"
								class="hollow button"
								data-tooltip
								title="Visualizar relatórios">
								<i class="fi-list size-14"></i>
							</a>
   						</td>
						<td style="text-align:center;">
							<a href="{% url 'parecer:novo' curso_extensao.pk %}"
								class="hollow button"
								data-tooltip
								title="Adicionar parecer">
								<i class="fi-plus size-14"></i>
							</a>
							<a href=""
								class="hollow button"
								data-tooltip
								title="Visualizar pareceres">
								<i class="fi-list size-14"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row" style="text-align: right;">
		<a class="success button"
			href="{% url 'curso_extensao:novo' %}">
			<i class="fi-plus size-14"></i>
			Novo curso
		</a>
	</div>

{% endblock %}
