{% extends "base.html" %}

{% load formset_tags %}

{% block title %} Relatório {% endblock %}

{% block content %}

	<br />

<!-- 	<form>
		<div class="row">
			<div class="medium-4 columns">
				<label>Título:</label>
				<input type="text" name="titulo" value="{{ request.GET.titulo }}"/>
			</div>

			<div class="medium-4 columns">
				<label>Coordenador(a):</label>
				<input type="text" name="coordenador" value="{{ request.GET.coordenador }}"/>
			</div>

			<div class="medium-4 columns">
				<label>Estado:</label>
				<input type="text" name="estado" value="{{ request.GET.estado }}"/>
			</div>

			<div style="text-align:center;">
				<input type="submit" value="Pesquisar" class="button">	
			</div>
		</div>
	</form> -->

	<div class="row">
		<h1>
			Arquivos de: {{ relatorio.projeto_extensao }}
		</h1>
	</div>

	<div class="row" style="text-align: right;">
		<a class="success button"
			href="{% url 'relatorio:upload_arquivo' relatorio.pk %}">
			<i class="fi-plus size-16"></i>
			Novo arquivo
		</a>
	</div>

	<div class="row">
		<table>
			<thead>
				<th>Arquivo</th>
				<th style="text-align:center;">Ação</th>
			</thead>
			<tbody>
				{% for relatoriofile in object_list %}
					<tr>
						<td>{{ relatoriofile.nome }}</td>
						<td style="text-align:center;">
							<a href="{% url 'relatorio:download_arquivo' relatoriofile.pk %}"
								class="hollow button"
								title="Baixar arquivo"
								data-tooltip>
								<i class="fi-page-export-pdf size-16"></i>
							</a>
							<form method="post" action="{% url 'relatorio:deletar_arquivo' %}" onsubmit="return confirm('Deseja realmente excluir o arquivo?');" style="display: inline;">
								{% csrf_token %}
								<input type="hidden" name="pk" value="{{ relatoriofile.pk }}"/>
								<button type="submit" value="Deletar"
									class="hollow button"
									title="Excluir arquivo"
									data-tooltip>
									<i class="fi-trash size-16"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="row" style="text-align: right;">
		<a class="success button"
			href="{% url 'relatorio:upload_arquivo' relatorio.pk %}">
			<i class="fi-plus size-16"></i>
			Novo arquivo
		</a>
	</div>

{% endblock %}
