{% extends "base.html" %}

{% load formset_tags %}

{% block title %} Parecer {% endblock %}

{% block content %}

	<br />

<!-- 	<form>
		<div class="row">
			<div class="medium-4 columns">
				<label>Título:</label>
				<input type="text" name="titulo" value="{{ request.GET.titulo }}"/>
			</div>

			<div class="medium-4 columns">
				<label>Coordenador(a):</label>
				<input type="text" name="coordenador" value="{{ request.GET.coordenador }}"/>
			</div>

			<div class="medium-4 columns">
				<label>Estado:</label>
				<input type="text" name="estado" value="{{ request.GET.estado }}"/>
			</div>

			<div style="text-align:center;">
				<input type="submit" value="Pesquisar" class="button">	
			</div>
		</div>
	</form> -->

	<div class="row">
		<h1>
			{{ projeto_extensao }}
		</h1>
	</div>

	<div class="row">
		<table>
			<thead>
				<th>Período</th>
				<th>Estado</th>
				<th style="text-align:center;">Ação</th>
			</thead>
			<tbody>
				{% for parecer in object_list %}
					<tr>
						<td>{{ parecer.data }}</td>
						<td>{{ parecer.estado_parecer }}</td>
						<td style="text-align:center;">
							<a href="{% url 'parecer:detalhe' parecer.pk %}"
								class="hollow button"
								title="Visualizar/editar parecer"
								data-tooltip>
								<i class="fi-info size-16"></i>
								<i class="fi-pencil size-16"></i>
							</a>
							<form method="post" action="{% url 'parecer:deletar' %}" onsubmit="return confirm('Deseja realmente excluir o parecer?');" style="display: inline;">
								{% csrf_token %}
								<input type="hidden" name="pk" value="{{ parecer.pk }}"/>
								<button type="submit" value="Deletar"
									class="hollow button"
									title="Excluir parecer"
									data-tooltip>
									<i class="fi-trash size-16"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
