{% extends "base.html" %}

{% load static %}
{% load formset_tags %}
{% load i18n %}

{% block title %} Parecer {% endblock%}

{% block body_begin_scripts %}
	<script language="JavaScript" type="text/javascript">
		function cancelar_cadastro() {
			decisao = confirm("Ao sair, todos os dados do formulário serão perdidos. Deseja continuar?");
			if (decisao) {
				location.href = "{% url 'curso_extensao:index' %}";
			}
		}
	</script>
{% endblock %}

{% block content %}
	{% trans '<sup><a href="#campo_obrigatorio">*</a></sup>' as campo_obrigatorio %}

	<h1 style="text-align:center;">Parecer</h1>

	<form data-abide novalidate method="post">
		{% csrf_token %}

		<div class="row">
			{{ form.non_field_errors }}
			<div data-abide-error class="alert callout" style="display: none;">
				<p><i class="fi-alert"></i>Campos obrigatórios não preenchidos!</p>
			</div>
		</div>

		{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

		<div class="row">
			<div class="medium-12 columns">
				<label>Projeto de Extensão</label>
				{{ projeto_extensao }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Estado{{ campo_obrigatorio }}</label>
				{{ form.estado_parecer }}
				{{ form.estado_parecer.errors }}
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Comentário{{ campo_obrigatorio }}</label>
				{{ form.comentario }}
				{{ form.comentario.errors }}
			</div>
		</div>
		<div class="row" id="campo_obrigatorio">
			<span><b>* Campos obrigatórios</b></span>
		</div>
		<div class="row">
			<div style="text-align:center;">
				<input type="button" value="Cancelar" class="button secondary" style="width:100px;" onclick="cancelar_cadastro()"/>
				<input type="submit" value="Salvar" class="button primary" style="width:100px;">
			</div>
		</div>
		<br />
	</form>
{% endblock %}
