<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %} Projeto {% endblock %}</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'css/app.css' %} ">
		<script language="JavaScript" type="text/javascript">

	     	function cancelar_cadastro(){
	     		decisao = confirm("Ao sair, todos os dados do formulário serão perdidos. Deseja continuar?");
	     		if(decisao){
					location.href = "{% url 'curso_extensao:index' %}";
	         	}
	        }
        </script>
	</head>
	<body>
		<div class="off-canvas-wrapper">
			<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper> <!-- Essa div e a de cima servem para fazer a parte do menu lateral -->
				<div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
					<li><a href="{% url 'curso_extensao:index' %}">Home</a></li>
					<div class="menu-mobile-opcao">Curso</div>
		  			<ul>
		  				<li><a href="{% url 'curso_extensao:novo' %}">Cadastro de Curso</a></li>
		  				<hr></hr>
			            <li><a href="{% url 'curso_extensao:consulta' %}">Consulta de Curso</a></li>
		  			</ul>
				</div>

				<!-- MOBILE NAVIGATION -->
				
				<div class="off-canvas-content" data-off-canvas-content>
					<div class="title-bar show-for-small-only">
						<div class="title-bar-left">
							<button class="menu-icon" type="button" data-open="mobile-menu"></button>
							<span class="title-bar-title">MENU</span>
						</div>
					</div>
				
					<!-- DESKTOP NAVIGATION -->
					<nav class="top-bar nav-desktop hide-for-small-only">
					 <div class="wrap">
							<div class="top-bar-left">
								<ul class="dropdown menu menu-desktop" data-dropdown-menu>
									<li><a href="{% url 'curso_extensao:index' %}">Home</a></li>
									<li>
										<a href="#">Curso</a>
										<ul class="menu">
											<li><a href="{% url 'curso_extensao:novo' %}">Cadastro de Curso</a></li>
											<li><a href="{% url 'curso_extensao:consulta' %}">Consulta de Curso</a></li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="top-bar-right">
								<ul class="menu menu-desktop">
									<li><span>Usuário</span></li>
									<li><a href="#">Sair</a></li>                  
								</ul>
							</div>
						</div>
					</nav>
					
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>

		<script src="{% static 'js/vendor/jquery.js' %}"></script>
		<script src="{% static 'js/vendor/jquery.maskedinput.js' %}"></script>
		<script src="{% static 'js/vendor/what-input.js' %}"></script>
		<script src="{% static 'js/vendor/foundation.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>
		<script src="{% static 'js/mascaras.js' %}"></script>
	</body>
</html>
