{% load static %}

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %} Projeto {% endblock %}</title>

		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
		<meta name="theme-color" content="#ffffff">		
		
		<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">

		<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
	    <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
		            $('#example').dataTable();
			} );	        
	    </script>

	    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'css/app.css' %} ">
	</head>
	<body>
		{% block body_begin_scripts %}{% endblock %}

		<div class="off-canvas-wrapper">
			<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper> <!-- Essa div e a de cima servem para fazer a parte do menu lateral -->
				<div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
					<li>
						<a href="{% url 'base:index' %}"
							class="hollow button"
							data-tooltip
							title="Início"
							<i class="fi-plus size-16"></i>
						</a>
					</li>
					<div class="menu-mobile-opcao">Projeto</div>
					<ul>
						<li><a href="{% url 'curso_extensao:consulta' %}">Curso de Extensão</a></li>
					</ul>
				</div>

				<!-- MOBILE NAVIGATION -->
				
				<div class="off-canvas-content" data-off-canvas-content>
					<div class="title-bar show-for-small-only">
						<div class="title-bar-left">
							<button class="menu-icon" type="button" data-open="mobile-menu"></button>
							<span class="title-bar-title">MENU</span>
						</div>
					</div>
				
					<!-- DESKTOP NAVIGATION -->
					<nav class="top-bar nav-desktop hide-for-small-only">
					 <div class="wrap">
							<div class="top-bar-left">
								<ul class="dropdown menu menu-desktop" data-dropdown-menu>
									<li>
										<a href="{% url 'base:index' %}"
											data-tooltip
											data-width="1"
											title="Início"
											<i class="fi-home size-16"></i>
										</a>
									</li>
									{% if user.is_authenticated %}
										<li>
											<a href="#">Projeto</a>
											<ul class="menu">
												<li><a href="{% url 'curso_extensao:consulta' %}">Curso de Extensão</a></li>
											</ul>
										</li>
										<li><a href="{% url 'docente:consulta' %}">Docente</a></li>
										<li><a href="{% url 'comissao:consulta' %}">Comissão</a></li>
									{% endif%}
								</ul>
							</div>
							<div class="top-bar-right">
								<ul class="menu menu-desktop">
									{% if user.is_authenticated %}
										<li style="color:white; padding-right:30px;">Olá, {{ user }}</li>
										<li>
											<a href="{% url 'accounts:logout' %}">
												Sair
											</a>
										</li>
									{% else %}
									<li>
										<a href="{% url 'accounts:login' %}">
											Entrar
										</a>
									</li>
									{% endif%}
								</ul>
							</div>
						</div>
					</nav>
					
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<!--
		<script src="{% static 'js/vendor/jquery.js' %}"></script>
		-->
		<script src="{% static 'js/vendor/what-input.js' %}"></script>
		<script src="{% static 'js/vendor/foundation.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>
		<script type="text/javascript">
			// For demo to fit into DataTables site builder...
			$('#example')
				.removeClass( 'display' )
				.addClass('tdisplay');
	    </script>

		{% block body_end_scripts %}{% endblock %}
	</body>
</html>
